:root {
  --light_blue: rgb(119, 182, 224);
  --dark_blue: rgb(45, 107, 148);
  --highlight: rgb(9, 39, 58);
}

html {
  padding: 0;
  margin: 0;
  font-family: 'segoe ui';
  background-color: var(--light_blue);
}

body {
  padding: 0;
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--dark_blue);
  background-color: white;
}

.body-content{
  margin-top: 10%;
}
/*For Cards*/
.card {
  /* Add shadows to create the "card" effect */
  display: block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 0;
  border-radius: 7px;
  /* 5px rounded corners */
}

/**/
.profile-ID {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0;
  width: 100%;
}

.profile-ID h2 {
  display: block;
  margin-left: 2%;
  font-size: 1.5em;
}

.profile-dp {
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--dark_blue);
  width: 80px;
  height: 80px;
}

/* Add some padding inside the card container */
.container-text {
  display: block;
  font-size: 1.1em;
  margin-left: 5%;
  margin-right: 5%;
}

.card-image {
  display: flex;
  border-radius: 7px 7px 0 0;
}

.card-buttons {
  /*container for the buttons*/
  display: flex;
  width: 100%;
  height: 60%;
  align-content: space-around;
}

.card-button {
  font-size: 1em;
  margin: 0px;
  padding: 7px;
  width: 100%;
  border-style: none;
  border-radius: 7px;
  color: var(--light_blue);
  background-color: white;
}

.card-like-button {
  font-size: 1em;
  margin: 0px;
  padding: 7px;
  width: 100%;
  border-style: none;
  border-radius: 7px;
  color: var(--light_blue);
  background-color: white;
}

.card-like-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--light_blue);
  color: white;
}

.card-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--light_blue);
  color: white;
}

.container-gallery {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  width: 250px;
  height: 433px;
  object-fit: cover;
}

.container-gallery-row {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 433px;
  overflow-x: scroll;
  object-fit: cover;
}

/*
.container-gallery-column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
*/
.container-gallery-row img {
  vertical-align: middle;
  width: auto;
  height: 433px;
  padding-right: 10px;
  object-fit: cover;
}


@media (min-width: 768px) {

  /* Undo positioning of off-canvas menu */
  header {
    background-color: var(--dark_blue);
    color: white;
  }

  /*Gallery layout*/
  .container-gallery {
    width: 100%;
    height: auto;
  }

}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

/*navbar code ends here*/

/*To change the scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark_blue));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light_blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight);
}

/*scrollbar code ends here*/