html{
    padding: 0;
    margin: 0;
    background-color: rgb(119, 182, 224);
    font-family: 'Oswald', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
header{
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(45, 107, 148);
  background-color: white;
}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}



/**/
.floating-buttons {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}

.floating-ID {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;  
}

.floating-ID:active, 
.floating-ID:focus, 
.floating-ID:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.floating-ID:not(:last-child) {
  width: 45px;
  height: 45px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.floating-buttons:hover 
.floating-ID:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.floating-ID:nth-last-child(1) { /*Main Button*/
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-image: url('https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_messenger-512.png');
  background-size: contain;
}

.floating-ID:not(:last-child):nth-last-child(2) {  /*First item*/
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background-image: url('https://scontent.fdac9-1.fna.fbcdn.net/v/t1.0-9/50849862_2282280998451225_6465057573081972736_n.jpg?_nc_cat=103&_nc_oc=AQlS9zfNHvVbLMGDkf8sNzR19IjOVQbkNg8QLNXsHyoSmQ7Yy9Q4o7qaZaaIcrlF098&_nc_ht=scontent.fdac9-1.fna&oh=faf9e191fc3b21cedbeb77576f48e6e0&oe=5E3CE937');
  background-size: contain;
}

.floating-ID:not(:last-child):nth-last-child(3) {   /*Second item*/
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background-image: url('https://scontent.fdac9-1.fna.fbcdn.net/v/t1.0-9/17629991_1486479121365062_5141542665811721158_n.jpg?_nc_cat=104&_nc_oc=AQkW-bvibaRnhHuF1_hnH-jo121a6uH0boL8yrxoX1g1fTNp_1BX3PzzyEZTOdq1yIY&_nc_ht=scontent.fdac9-1.fna&oh=87663c70b2b61dc451951552f6481655&oe=5E260ACF');
  background-size: contain;
}

.floating-ID:not(:last-child):nth-last-child(4) {   /*Third item*/
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background-image: url('https://scontent.fdac9-1.fna.fbcdn.net/v/t1.0-9/51193459_10157315505900864_8514672879344812032_n.jpg?_nc_cat=106&_nc_oc=AQkM5mr-miEsEeSubqyRAWwCwy5_cpCh_cLKUsdixSD-0m1i06aSkLeHRXSon8H6dFQ&_nc_ht=scontent.fdac9-1.fna&oh=394c6af8053a74ab2e48ad0cb914f503&oe=5E2234E7');
  background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/**/



#search-bar-container{
  margin: 0;
  padding: 0;
  width: 100%;
}
#search-bar{
  margin: 0;
  padding: 10px;
  width: 100%;
}

/*For Cards*/
.card {
  /* Add shadows to create the "card" effect */
  display: block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 0;
  border-radius: 7px; /* 5px rounded corners */
}
/**/
.profile-ID{
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0;
  width: 100%;
}
.profile-ID h2{
  display: block;
  margin-left: 2%;
  font-size: 30px;
}
.profile-dp{
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(54, 112, 145);
  width: 80px;
  height: 80px;
}
/* Add some padding inside the card container */
.container-text {
  display: block;
  font-size: 1.1em;
  margin-left: 2%;
}
.card-image {
  display: flex;
  border-radius: 7px 7px 0 0;
}
.card-buttons{  /*container for the buttons*/
  display: flex;
  width: 100%;
  height: 60%;
  align-content: space-around;
}
.card-button{
  font-size: 1em;
  margin: 0px;
  padding: 7px;
  width: 100%;
  border-style: none;
  border-radius: 7px;
  color: rgb(81, 142, 170);
  background-color: white;
}
.card-like-button{
  font-size: 1em;
  margin: 0px;
  padding: 7px;
  width: 100%;
  border-style: none;
  border-radius: 7px;
  color: rgb(81, 142, 170);
  background-color: white;
}
.card-like-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(130, 182, 206);
  color: white;
}
.card-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgb(130, 182, 206);
  color: white;
}
.container-gallery{
  margin: 0;
  padding: 0;
}
.container-gallery-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.container-gallery-column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.container-gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .container-gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/**/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: white;
  background-color: rgb(48, 135, 185);
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: rgb(94, 173, 219);
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: rgb(94, 173, 219);
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  /*border-bottom: 1px solid #383838;*/
  border: 0;
}

.main-menu li:first-child a {
  /*border-top: 1px solid #383838;*/
  border: 0;
}

.main-menu a:hover,
.main-menu a:focus {
  background: rgb(48, 135, 185);
  /*text-decoration: underline;*/
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*Dropdown*/

.dropdown {
  float: left;
  align-self: left;
  align-content: left;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(48, 135, 185);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(94, 173, 219);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(48, 135, 185);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Dropdown*/

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  header{
    background-color: rgb(48, 135, 185);
    color: white;
  }
  #search-bar-container{
    display: flex;
    width: 70%;
    height: 100%;
    margin-right: 20%;
  }
  #searc-bar{
    width: 50%;
  }
  #search-bar-container a{
    display: flex;
    width: auto;
  }
  .main-menu {
    margin-left: 10%;
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
    width: 60%;
  }
  
  .main-menu ul {
    display: flex;
    background-color: rgb(48, 135, 185);
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: white;
    width: 100%;
    background-color: rgb(48, 135, 185);
    border: 0;
    margin: 0;
    /*border: 0 !important;*/ /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    background-color: rgb(96, 181, 230);
    color: white;
  }

  
/*Dropdown*/
/*
dark blue
rgb(48, 135, 185)

light blue
rgb(96, 181, 230)
*/


/*Dropdown*/

.dropdown {
  float: left;
  align-self: left;
  align-content: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: auto;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
}

.dropdown:hover .dropbtn {
  background-color: rgb(96, 181, 230);
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(94, 173, 219);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(96, 181, 230);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Dropdown*/



/*Dropdown*/

}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}
/*navbar code ends here*/

/*To change the scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(48, 135, 185);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(97, 176, 221);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 104, 133);
}
/*scrollbar code ends here*/